.content {
  grid-area: c;
}

.content__logo {
  margin: 20px 0 0 18px;
}

.content__info {
  display: flex;
  margin: 5px 0 0 24px;
}

.info__title {
  font-weight: 700;
  font-size: 22px;
}

.info__info {
  margin: 0 0 0 20px;
}

.info__list {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  width: 750px;
  text-align: center;
  font-size: 20px;
}

.info__list li {
  padding: 2px;
}

.info__list span {
  font-weight: 700;
}

.content__logo img {
  border-radius: 3px;
  width: 1030px;
  height: 130px;
}

.info__photo img {
  width: 150px;
  height: 150px;
}

.status {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

input[type='file'] {
  display: none;
}

.qwe {
  position: absolute;
  background-color: gray;
  border-radius: 3px 0 10px 0;
  margin: 1px;
  max-width: 15px;
  max-height: 25px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transition: 0.5s;
}

.qwe:hover {
  max-width: 80px;
  max-height: 80px;
  border-radius: 3px 0 10px 0;
  transition: 0.5s;
}

.ava {
  min-width: 200px;
  min-height: 200px;
  border-radius: 3px;
}

.ava:hover {
  box-shadow: 0px 0px 4px black;
}

.contact {
  margin: 0 auto;
  width: fit-content;
  padding: 2px;
  margin-left: 40%;
}

.editButton {
  position: absolute;
  cursor: pointer;
  background-color: rgb(182, 182, 227);
  border-radius: 3px;
  text-align: center;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: black;
  width: 90px;
  left: 58%;
  top: 450px;
}

.backButton {
  position: absolute;
  cursor: pointer;
  background-color: rgb(182, 182, 227);
  border-radius: 3px;
  text-align: center;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: black;
  width: 90px;
  left: 52.5%;
  top: 450px;
}

.editButtonStart {
  position: absolute;
  cursor: pointer;
  background-color: rgb(182, 182, 227);
  border-radius: 3px;
  border: none;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: black;
  width: 90px;
  left: 78.5%;
  top: 460px;
}

.editButton:hover {
  background-color: rgb(133, 133, 193);
  font-weight: 900;
}

.formName {
  border-radius: 3px;
  padding: 4px;
  margin: 4px;
  margin-left: 40px;
  background-color: rgb(208, 208, 231);
}

.formNameCheck {
  border-radius: 3px;
  padding: 4px;
  padding-right: 2px;
  margin: 4px;
  margin-left: 40px;
  background-color: rgb(208, 208, 231);
  width: fit-content;
}

.err {
  font-weight: 500;
  box-shadow: 1px 1px 3px black;
  text-align: center;
  background-color: rgb(188, 162, 162);
  color: brown;
  border-radius: 5px;
  width: 340px;
  font-size: 18px;
  margin-left: 40px;
}
